<div class="graph-container">
  <ngx-graph
    class="chart-container"
    [showMiniMap]="true"
    [links]="links"
    [nodes]="nodes"
  >
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect width="120" height="80" fill="#fff" stroke="#112A46" />
        <svg:text alignment-baseline="central" [attr.x]="20" [attr.y]="20">
          {{ node.data.teamA || node.data.teamAPlaceholder }}
        </svg:text>
        <svg:text alignment-baseline="central" [attr.x]="20" [attr.y]="40">
          vs
        </svg:text>
        <svg:text alignment-baseline="central" [attr.x]="20" [attr.y]="60">
          {{ node.data.teamB || node.data.teamBPlaceholder }}
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
