<div class="graph-container">
  <button (click)="centerGraph()">center</button>
  <button (click)="fitGraph()">fit</button>
  <ngx-graph
    class="chart-container"
    [showMiniMap]="true"
    [links]="links"
    [nodes]="nodes"
    [center$]="center$"
    [zoomToFit$]="zoomToFit$"
    [draggingEnabled]="false"
    [autoCenter]="true"
  >
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:foreignObject width="150" height="100">
          <div class="node-content">
            <mat-radio-group
              aria-label="Select an option"
              class="node-radio-group"
              [(ngModel)]="node.data.winner"
              (ngModelChange)="onWinnerChange(node)"
            >
              <mat-radio-button [value]="node.data.teamA">{{
                node.data.teamA || node.data.teamAPlaceholder
              }}</mat-radio-button>

              <mat-radio-button [value]="node.data.teamB">{{
                node.data.teamB || node.data.teamBPlaceholder
              }}</mat-radio-button>
            </mat-radio-group>
          </div>
        </svg:foreignObject>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
