:host {
  height: 800px;
  overflow: scroll;
  .form-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    h3 {
      margin-top: 2rem;
    }
  }

  .group-description {
    display: flex;
    flex-direction: column;

    .chips-container {
      display: flex;
      flex-direction: row;
      gap: 4px;
    }
  }

  .select-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;

    .select-fields-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}
